.contact {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
  }
  
  button:hover {
    cursor: pointer;
    background-color: #3e8e41;
  }

  .faq {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  h2, h3 {
    color: #333;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  p {
    color: #666;
  }
  

  .my-component {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .my-component h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .my-component img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .my-component p {
    font-size: 16px;
    line-height: 1.5;
  }
  .logo {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100px; /* Set the height to the height of your logo */
    background-color: #f2f2f2; /* Set the background color to match your website's background */
    }
   .logo img {
        max-height: 100%; /* Make the image fit the height of the container */
        max-width: 100%; /* Make the image responsive */
    }
    .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height:100%;
    position:relative;
    }
    .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    }
    .legal {
    margin-top: 10px;
    font-size: 12px;
    }
    .social {
    margin-top: 10px;
    }
    .social a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    }
    .social a:hover {
    color: #ccc;
    }
    .left-aligned {
      margin: 0;
      padding: 0;
      text-align: left;
    }
  